<html>
<!-- template, minimal JS and CSS for aws-info. -->
<head>
<title>AWS Infrastructure Display</title>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/ui/jquery-ui.min.js"></script>
<style>
html * {
        font-family: verdana, arial, helvetica, sans-serif;
}

.pagetop {
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

.statusgreen {
	background-color: green
}
.statusred {
	background-color: red
}

</style>
<script>
$(function() {
	$( "#accordion" ).accordion({
		heightStyle: "content",
		collapsible: true
	})
});
</script>
</head>
